@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  --text-color: #222;
  --bkg-color: #fff;
  font-family: 'Russo One', sans-serif;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

body {
  background: var(--bkg-color);
}

h1,
p,
span {
  color: var(--text-color);
}

.title {
  font-family: 'Bowlby One SC', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 400px;
  margin: 50px auto;
}

.container_title {
  text-align: center;
  font-size: 2rem;
}

form {
  width: 80%;
  margin: 10px auto;
  color: var(--text-color);
  text-align: center;
}

label {
  font-size: 22px;
}

#i1 {
  padding: 10px;
  width: 80%;
  margin: 0px auto;
  outline: none;
  font-size: 20px;
}

.controls {
  margin-top: 400px;
  margin-left: 20px;
  color: var(--text-color);
}

.btn-toggle {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
  transition: 0.2s;
  height: 40px;
}

.btn:hover {
  transform: scale(0.95);
  filter: brightness(0.9);
}

/* select game page style */



/* game container style */